.center-grid {
    -fx-padding: 10% 15%;
     /*-fx-background-color: red; */
}
.center-grid .button {
    -fx-pref-width: 100%;
    -fx-max-width: Infinity;
    -fx-pref-height: 1;
    -fx-max-height: Infinity;
    -fx-font-size: 1.5em;
    -fx-margin: 20%;
}
.header-text {
    -fx-font-size: 3.5em;
    -fx-font-weigth: bold;
}
.container-HBox {
    -fx-background-color: lightgray;
}

.label.key {
    -fx-background-color: #cccccc;
    -fx-border-color: #888888;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
}
.blueBackground{
    -fx-background-color: #48b6f2;
}